
<tr>

  <td><div class='star-rating' data-score="<%= commentary.score %>"></div></td>
  <td><p data-toggle="tooltip" title="<%= commentary.user.name %>"><%= commentary.comment%></p></td>
  <% if user_signed_in? %>
  <% if commentary.user.id == current_user.id %>
          <td><div class="dropdown">
            <button class="btn btn-warning btn-xs dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-cog" aria-hidden="true">&nbsp;</span><span class="caret"></span></button>

              <ul class="dropdown-menu">
                <li><a href="<%= edit_hotel_commentary_path(commentary.hotel,commentary)%>"><span class="glyphicon glyphicon-pencil" aria-hidden="true">&nbsp;Edit</span></a></li>
                <li><a href="<%=hotel_commentary_path(commentary.hotel,commentary) %>"  data-confirm="Are you sure?" data-method="delete" data-original-title="Delete" rel="nofollow"><span class="glyphicon glyphicon-trash" aria-hidden="true">&nbsp;Delete</span></a></li>
              </ul>
          </div></td>
      <% end %>
  <% end %>
</tr>



