<%= simple_form_for([@hotel,@hotel.commentaries.build]) do |f| %>
<div id="rating-form">
  <label>Score</label>
</div>

  <%= f.input :comment %>
  <%= f.button :submit %>
<% end %>

<script>
    $('#rating-form').raty({
        path: '/assets/images/ratyrate',
        scoreName: 'commentary[score]'
    });
</script>