<h1>Edit commentary</h1>

<%= simple_form_for([@hotel,@commentary]) do |f| %>
    <div id="rating-form">
      <label>Score</label>
    </div>
  <%= f.input :comment %>
  <%= f.button :submit %>
<% end %>

<script>
    $('#rating-form').raty({
        path: '/assets/images/ratyrate',
        scoreName: 'commentary[score]'
    });
</script>