<%= simple_form_for @hotel,:html => {:multipart => true} do |f| %>
    <%= f.input :name, label: "Hotel name:" %>



    <%= select_tag(:destination_id,options_for_select(@destinations), :prompt=> "Select destination")  %>
    <%= select_tag(:city_id,options_for_select(@cities), :prompt=> "Select destination")  %>



    <%= f.file_field :hotel_img %>
    <%= f.input :adress %>
    <%= f.input :price %>
    <%= f.input :description %>

    <%= fields_for(@hotel_service) do |as| %>
      <%= as.label "All services" %>
        <%= collection_select(:services,:id,@all_services,:id,:name,{},{:multiple => true}) %>
    <% end %>

    <%= fields_for(@hotel_landmark) do |as| %>
        <%= as.label "All landmarks" %>
        <%= collection_select(:landmarks,:id,@all_landmarks,:id,:name,{},{:multiple => true}) %>
    <% end %>




    <%= f.button :submit %>
<% end %>