<h1 class="current-destination"><%= params[:destination] %></h1>
  <h1 class="current-destination"><%= params[:city] %></h1>
<% if @hotels.count == 0 %>
      <h1>There are no hotels currently in this destination</h1>
<% else %>
    <div class="row">

      <% if @hotel_ids.count == 0 %>
          <% @hotels.each do |hotel| %>
              <div class="col-md-3">
                <a href="/hotels/<%= hotel.id %>"><%= image_tag hotel.hotel_img.url(:hotel_index), class: "hotel" %></a>
                <br>
                <h3><%= link_to hotel.name,hotel_path(hotel) %></h3>
              </div>
          <% end %>
      <% else %>

          <% @hotels.each do |hotel| %>
              <% @hotel_ids.each do |tt| %>
                  <% if hotel.id == tt.hotel_id%>
                      <div class="col-md-3">
                        <a href="/hotels/<%= hotel.id %>"><%= image_tag hotel.hotel_img.url(:hotel_index), class: "hotel" %></a>
                        <br>
                        <h3><%= link_to hotel.name,hotel_path(hotel) %></h3>
                      </div>
                  <% end %>
              <% end %>
          <% end %>

      <% end %>




    </div>
<% end %>
